// Colors
$--c-white:         #FFFFFF;
$--c-white-soft:    #E2E2E2;
$--c-gray-soft:     #464646;
$--c-gray:          #383638;
$--c-black-soft:    #1D1D1D;
$--c-black:         #0E0E0E;

$--c-blue:          #377DFF;
$--c-red:           #FF2D2D;
$--c-red-dark:      #FF4646;
$--c-yello:         #FFA800;
$--c-yellow-dark:   #FFB21A;
$--c-green:         #7CE761;

$--primary: $--c-blue;
$--background-light: $--c-white;
$--background-dark: $--c-black;
$--text-light: $--c-black-soft;
$--text-dark: $--c-white-soft;
$--background-footer: $--c-gray;
