// Colors
$-c-white: #FFFFFF;
$-c-white-soft: #E2E2E2;
$-c-gray-soft: #464646;
$-c-gray: #383638;
$-c-black-soft: #1D1D1D;
$-c-black: #0E0E0E;

$-c-blue: #377DFF;
$-c-red: #FF2D2D;
$-c-red-dark: #FF4646;
$-c-yello: #FFA800;
$-c-yellow-dark: #FFB21A;
$-c-green: #7CE761;

$-c-primary: $-c-blue;

// Sizes
$-s-desktop: 1440px;
$-s-text-small: 12px;
$-s-text-small-desktop: 16px;
$-s-text-base: 14px;
$-s-text-base-desktop: 20px;

:root {
    --primary: #{$-c-blue};
    --background-color: #{$-c-white};
    --text-color: #{$-c-black-soft};
    --background-footer: #{$-c-gray};
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #{$-c-black};
        --text-color: #{$-c-white-soft};
    }
}

// effects
$-e-base-transition: 0.3s ease 0s;